.open-nav{
    background: linear-gradient(153.39deg, #F9A8D4 -13.9%, #F472B6 58.69%);
    border-radius: 10px;
    width: 29.861vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    animation: roll 0.2s linear;
}

@keyframes roll{
    0%{
        margin-left: -29.861vw;
    }
    100%{
        margin-left: 0;
    }
}

@media (max-width: 1023px){
    .open-nav{
        width: 100vw;
    }
}