.hero-info-container .hero-info {
    background: linear-gradient(153.39deg, #F9A8D4 -13.9%, #F472B6 58.69%);
    margin-top: 2.563rem;
    margin-bottom: 1.688rem;
    height: 16.563rem;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.hero-info-container .hero-info .character {
    position: absolute;
    width: 277px;
    height: 307px;
    left: 91px;
    top: 113px;
}

.hero-info-container .hero-info .manga {
    position: absolute;
    width: 180px;
    height: 284px;
    left: 469px;
    top: 103px;
}

.hero-info-container .hero-info .manga-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 356px;
    left: 776px;
    color: #FFFFFF;
}

.hero-info-container .hero-info .manga-info h2 {
    font-size: 24px;
}

.hero-info-container .hero-info .manga-info .manga-title {
    font-size: 12px;
    color: rgba(255, 255, 255, 60%);
}

.hero-info-container .hero-info .manga-info p {
    font-size: 14px;
}