.mangas .mangas-displayed .mangas-cards .delete-modal{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 25px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: #EE8380;
    gap: 30px;
}

.mangas .mangas-displayed .mangas-cards .delete-modal>h2{
    text-align: center;
}

.mangas .mangas-displayed .mangas-cards .delete-modal .modal-btns{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.mangas .mangas-displayed .mangas-cards .delete-modal .modal-btns>p{
    text-decoration: none;
    background: linear-gradient(153.39deg, #F9A8D4 -13.9%, #F472B6 58.69%);
    width: 92px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #EBEBEB;
    font-weight: 700;
    font-size: 12px;
    line-height: 95.19%;
    cursor: pointer;
}

@media (max-width: 768px){
    .mangas .mangas-displayed .mangas-cards .delete-modal{
        width: 80%;
    }
}