.google{
    display: flex;
    justify-content: center;
    width: 384px;
}
.form{
    display: flex;
    align-items: center;
    
}
@media (max-width: 814px){
    .google{
        width: 300px;
    }
}
   