.welcome-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-section h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.05em;
}
.welcome-section p{
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
}