.sectionEdit1 .delete-modal {
    position: fixed;
    left: 0;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    color: #000000;
}

.sectionEdit1 .delete-modal .delete-card{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 25px;
}

.sectionEdit1 .delete-modal .delete-card>h2 {
    text-align: center;
}

.sectionEdit1 .delete-modal .delete-card .modal-btns {
    display: flex;
    gap: 55px;
    justify-content: center;
}

.sectionEdit1 .delete-modal .delete-card .modal-btns .btn-handlesend{
    text-decoration: none;
    background: rgb(252, 232, 232);
    width: 92px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    color: #e72323;
    font-weight: 100;
    font-size: 13px;
    cursor: pointer;
}
.sectionEdit1 .delete-modal .delete-card .modal-btns .btn-handlecancel{
    text-decoration: none;
    background: rgb(209, 210, 243);
    width: 92px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    color: #2341e7;
    font-weight: 100;
    font-size: 13px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .sectionEdit1 .delete-modal .delete-card{
        width: 80vw;
    }

    .sectionEdit1 .delete-modal .delete-card .modal-btns{
        gap: 25px;
    }
}