header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    height: 10vh;
    position: absolute;
    width: 87.361vw;
    margin-left: 91px;
}

.logo{
    width: 10vh;
    height: 10vh;
}

@media (max-width: 1023px) {
    header{
        padding: 21px 21px 0 21px;
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0;
    }
}
