.mangas .mangas-displayed .mangas-type{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.mangas .mangas-displayed .mangas-type .category-Shōnen,
.mangas .mangas-displayed .mangas-type .category-Manhwa,
.mangas .mangas-displayed .mangas-type .category-Shōjo,
.mangas .mangas-displayed .mangas-type .category-Seinen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 71px;
    height: 35px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
    line-height: 95.19%;
}

.mangas .mangas-displayed .mangas-type .category-Shōnen:hover,
.mangas .mangas-displayed .mangas-type .category-Manhwa:hover,
.mangas .mangas-displayed .mangas-type .category-Shōjo:hover,
.mangas .mangas-displayed .mangas-type .category-Seinen:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.mangas .mangas-displayed .mangas-type .category-Shōnen{
    background: #FFE0DF;
    color: #EF8481;
}

.mangas .mangas-displayed .mangas-type .category-Seinen{
    background: #FFDFC8;
    color: #FC9C57;
}

.mangas .mangas-displayed .mangas-type .category-Shōjo{
    background: #D1FBF0;
    color: #00BA88;
}

.mangas .mangas-displayed .mangas-type .category-Manhwa{
    background: #E0DBFF;
    color: #8883F0;
}

.checked{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1) !important;
}

.mangas .mangas-displayed .mangas-type .mangas-sort:hover{
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width: 500px){
    .mangas .mangas-displayed .mangas-type .category-Shōnen, .mangas .mangas-displayed .mangas-type .category-Manhwa, .mangas .mangas-displayed .mangas-type .category-Shōjo, .mangas .mangas-displayed .mangas-type .category-Seinen{
        width: 60px;
    }
}