.mangas .mangas-displayed .mangas-cards{
    display: flex;
    gap: 27px 90px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 68.75vw;
}

.mangas .mangas-displayed .mangas-cards .card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 402px;
    height: 178px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    gap: 8px;
}

.mangas .mangas-displayed .mangas-cards .card .card-text{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 15px;
}

.mangas .mangas-displayed .mangas-cards .card-text .card-color{
    height: 71.34%;
    background: #FC9C57;
    border: 3px solid #FC9C57;
}

.mangas .mangas-displayed .mangas-cards .card .card-text .text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 25px;
    width: 100%;
    margin-bottom: 35%;
}

.mangas .mangas-displayed .mangas-cards .card .card-text .text h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 95.19%;
    color: #222222;
    inline-size: 23vw;
    overflow-wrap: break-word;
    width: 100%;
}

.mangas .mangas-displayed .mangas-cards .card .card-text .text span{
    font-weight: 500;
    font-size: 13px;
    line-height: 95.19%;
    width: 100%;
    color: #FC9C57;
}

.mangas .mangas-displayed .mangas-cards .card .card-text .text .card-anchor{
    text-decoration: none;
    background: rgba(209, 251, 240, 1);
    width: 92px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 50px;
    color: #00BA88;
    font-weight: 700;
    font-size: 12px;
    line-height: 95.19%;
}

.mangas .mangas-displayed .mangas-cards .card .card-text .text .card-anchor:hover{
    transform: scale(1.1);
}

.mangas .mangas-displayed .mangas-cards .card .card-img{
    width: 162px;
    height: 100%;
    padding-left: 15px;
}

.mangas .mangas-displayed .mangas-cards .card .card-img img{
    width: 100%;
    height: 100%;
    border-radius: 40% 10px 10px 40%;
    object-position: 50%;
    object-fit: cover;
}

@media (max-width: 500px){
    .mangas .mangas-displayed .mangas-cards .card{
        width: 325px;
    }

    .mangas .mangas-displayed .mangas-cards .card .card-text{
        width: 50%;
    }    

    .mangas .mangas-displayed .mangas-cards .card .card-text .text{
        width: 100%;
    }

    .mangas .mangas-displayed .mangas-cards .card .card-text .text h2{
        inline-size: 137px;
    }
}

@media (max-width: 768px){
    .mangas .mangas-displayed .mangas-cards{
        width: auto;
    }

    .mangas .mangas-displayed .mangas-cards .card{
        width: 68.75vw;
        height: 144px;
    }

    .mangas .mangas-displayed .mangas-cards .card .card-text .text{
        margin-bottom: 15%;
    }
}

@media (max-width: 429px){
    .mangas .mangas-displayed .mangas-cards .card{
        width: 300px;
    }
}