.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
}

.form .notification-check{
    border: none;
    display: flex;
    gap: 4px;
    align-items: center;
    height: auto;
}

.form .notification-check input{
    width: 16px;
    height: 16px;
    margin: 0;
    border-radius: 5px;
}

.form .notification-check label{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #1F1F1F;
}

.form>p{
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
}

.form>p .link{
    text-decoration: none;
    color: rgb(245, 118, 184);
    font-weight: bold;
}

@media (max-height: 699px){
    .form{
        gap: 10px;
    }
}